<footer>
    <div class="container">
        <div class="row justify-content-around" id="footer-container">
            <a class="col-auto about" href="/about">About</a>
            <a class="col-auto to-top">Back to Top</a>
        </div>
    </div>
</footer>