<nav id="nav-bar" class="fixed-top">
    <div class="container-fluid py-2">
        <div class="row align-items-center">
            <div class="navbar-brand col-2"><a href="/"><img src="/images/logo.png"></a></div>

            <div class="col-5 d-flex justify-content-center">
            <ul class="nav-buttons">
                <li><button id="explore-btn"><i class="fa fa-compass"></i> Explore <i class="fa fa-caret-down"></i></button>              
                    <div id="explore-bar" class="container">
                        <div class="row">
                            <div class="col"><a href="/explore/alaminos">Alaminos</a></div>
                            <div class="col"><a href="/explore/bay">Bay</a></div>
                            <div class="col"><a href="/explore/binan">Biñan</a></div>
                            <div class="col"><a href="/explore/cabuyao">Cabuyao</a></div>
                            <div class="col"><a href="/explore/calamba">Calamba</a></div>
                        <div class="w-100"></div>
                            <div class="col"><a href="/explore/calauan">Calauan</a></div>
                            <div class="col"><a href="/explore/cavinti">Cavinti</a></div>
                            <div class="col"><a href="/explore/famy">Famy</a></div>
                            <div class="col"><a href="/explore/kalayaan">Kalayaan</a></div>
                            <div class="col"><a href="/explore/liliw">Liliw</a></div>
                        <div class="w-100"></div>
                            <div class="col"><a href="/explore/los-banos">Los Baños</a></div>
                            <div class="col"><a href="/explore/luisiana">Luisiana</a></div>
                            <div class="col"><a href="/explore/lumban">Lumban</a></div>
                            <div class="col"><a href="/explore/mabitac">Mabitac</a></div>
                            <div class="col"><a href="/explore/magdalena">Magdalena</a></div>
                        <div class="w-100"></div>
                            <div class="col"><a href="/explore/majayjay">Majayjay</a></div>
                            <div class="col"><a href="/explore/nagcarlan">Nagcarlan</a></div>
                            <div class="col"><a href="/explore/paete">Paete</a></div>
                            <div class="col"><a href="/explore/pagsanjan">Pagsanjan</a></div>
                            <div class="col"><a href="/explore/pakil">Pakil</a></div>
                        <div class="w-100"></div>
                            <div class="col"><a href="/explore/pangil">Pangil</a></div>
                            <div class="col"><a href="/explore/pila">Pila</a></div>
                            <div class="col"><a href="/explore/rizal">Rizal</a></div>
                            <div class="col"><a href="/explore/san-pablo">San Pablo</a></div>
                            <div class="col"><a href="/explore/san-pedro">San Pedro</a></div>
                        <div class="w-100"></div>
                            <div class="col"><a href="/explore/santa-cruz">Santa Cruz</a></div>
                            <div class="col"><a href="/explore/santa-maria">Santa Maria</a></div>
                            <div class="col"><a href="/explore/santa-rosa">Santa Rosa</a></div>
                            <div class="col"><a href="/explore/siniloan">Siniloan</a></div>
                            <div class="col"><a href="/explore/victoria">Victoria</a></div>
                        </div>
                    </div>
                </li>
                <li><a id="navbar-must-visits" href="/categories/must-visits"><i class="fa fa-map-marker"></i> Must-Visits</a></li>
                <li><a id="navbar-must-eats" href="/categories/must-eats"><i class="fa fa-cutlery"></i> Must-Eats</a></li>
                <li><a id="navbar-must-dos" href="/categories/must-dos"><i class="fa fa-ticket"></i> Must-Dos</a></li>
            </ul>
            </div>

            <div class="col">
                <form class="input-group d-flex" action="/search" method="GET">
                    <div class="form-outline">
                        <input id="search-input" name="term" type="search" class="form-control" placeholder="Search..."/>
                    </div>
                    <button id="search-button" type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="col">
                <ul class="nav-buttons">
                    <li><a id="login" href="/login">Login</a></li>
                    <li><a id="sign-up" href="/signup">Sign Up</a></li>
                </ul> 
            </div>
                    
        </div>
    </div>
</nav>