{{#section 'localCSS'}}
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home-page.css">
{{/section}}

<!-- Welcome Strip -->
<div id="welcome" class="adjust-height">
    <div class="overlay position-relative">
        <div class="container-fluid d-flex align-items-center">
            <div class="col">
                <h1 id="title" class="row d-flex justify-content-center animate__animated animate__fadeInUp">
                    Explore the colorful province of Laguna, today!</h1>
                <h2 id="subtitle" class="row d-flex justify-content-center animate__animated animate__fadeInUp">
                    See what other tourists recommend to add to your travel bucket list</h2> 
            </div>
        </div>
        <a class="position-absolute bottom-0 end-0 img-source" href="https://flavorfultravels.com/pandin-lake/">
            Pandin Lake, San Pablo<br/>Original Photo</a>
    </div>
</div>

<!-- Must-Visits -->
<div class ="break"></div> 
<div id="must-visits" class="container section">
    <div class="row">
        <h3 class="col must-header" style="color: #578E87"><a href="/categories/must-visits"><i class="fa fa-map-marker"></i> Must-Visits</a></h3>
    </div>
    <hr style="background-color: #578E87">
    <div class="row section">
        <div class="col-3 desc">
            <div class="break"></div>
            <div class="row justify-content-center">
            <p class="lead">Check out the top destinations to visit!</p>
            </div>
            <div class="row justify-content-center">
            <a class="must-btn" href="/categories/must-visits" style="background-color: #578E87">See all Must-Visit posts</a>
            </div>
            <div class="row"></div>
        </div>

        <div class="col-9">
            <div class="row">
                <div id="must-visits-carousel" class="owl-carousel">
                
                {{#each posts.mustVisits}}
                    {{> home-post-card}} {{post.mustVisits.postTitle}}
                {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Must-Eats -->
<div class="break"></div> 
<div id="must-eats" class="container section">
    <div class="row">
        <h3 class="col must-header" style="color: #1C4508"><a href="/categories/must-eats"><i class="fa fa-cutlery"></i> Must-Eats</a></h3>
    </div>
    <hr style="background-color: #1C4508">
    <div class="row section">
        <div class="col-3 desc">
            <div class="break"></div>
            <div class="row justify-content-center">
            <p class="lead">Find where to grab a nice meal!</p>
            </div>
            <div class="row justify-content-center">
            <a class="must-btn" href="/categories/must-eats" style="background-color: #1C4508">See all Must-Eat posts</a>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-9">
            <div class="row">
                <div id="must-eats-carousel" class="owl-carousel">

                    {{#each posts.mustEats}}
                        {{> home-post-card}}
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Must Dos -->
<div class="break"></div> 
<div id="must-dos" class="container section">
    <div class="row">
        <h3 class="col must-header" style="color: #97AA00"><a href="/categories/must-dos"><i class="fa fa-ticket"></i> Must-Dos</a></h3>
    </div>
    <hr style="background-color: #97AA00">
    <div class="row section">
        <div class="col-3 desc">
            <div class="break"></div>
            <div class="row justify-content-center">
            <p class="lead">Try out these fun activities!</p>
            </div>
            <div class="row justify-content-center">
            <a class="must-btn" href="/categories/must-dos" style="background-color: #97AA00">See all Must-Do posts</a>
            </div>
            <div class="row"></div>
        </div>
        <div class="col-9">
            <div class="row">
                <div id="must-dos-carousel" class="owl-carousel">

                    {{#each posts.mustDos}}
                        {{> home-post-card}}
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="break"></div>

{{#section 'JS'}}
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Owl Carousel js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- Local JS -->
    <script type="text/javascript" src="js/nav-bar.js"></script>
    <script type="text/javascript" src="js/home-page.js"></script>
{{/section}}