.col-2 img {
    width: 110%;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand:hover {
    cursor: pointer;
}

#nav-bar {
    background-color: #1C4508;
    padding: 8px;
}

.nav-buttons {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 0 12px;
}


#nav-bar ul li a, #explore-btn,
#user-btn  {
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 10px #F7E2C7;
    transition: 0.2s ease-in;
}

#login, #sign-up, #logout {
    padding: 3px 18px;
    border-radius: 30px;
    font-weight: bold;
}

#login, #logout {
    background-color: #97AA00;
    color: whitesmoke;
}

#login:hover, #logout:hover {
    cursor: pointer;
    text-shadow: none;
    background-color: #89952b;
}

#sign-up {
    border: 2px solid #97AA00;
    color: whitesmoke;
}

#sign-up:hover {
    cursor: pointer;
    text-shadow: none;
    border: 2px solid rgba(245, 245, 245, 0.6);
    background-color: #89952b90;
}

button {
    border:none;
    background: none;
}

.form-outline {
    width: 85%;
}

#search-button {
    background-color: #578E87;
    border: none;
}

#explore-bar, #user-bar {
    background-color: #578E87;
    position: absolute;
    padding: 10px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px;
    width: 60%;
    line-height: 35px;
    z-index: 2;
    display: none;
}

#user-bar {
    width: fit-content;
}

#user-bar .row {
    padding-right: 15px;
}

#user-bar a {
    color: whitesmoke;
    text-decoration: none;
}

#explore-bar li a {
    line-height: 15px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #3B3B3B;
    height: 50px;
}

.to-top, .about {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    top: 10px;
}

.to-top:hover, .about:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: none;
    color: whitesmoke;
}

#footer-container {
    margin-top: 12px;
}

#user-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 12px;
}

@media screen and (max-width: 1700px) {
    #username {
      display: none;
    }
  }